main div {
    background-color: #f4fbf8;
    border: 2px solid #0a5738;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    transition: transform 0.2s ease-in-out;
}

main div:hover {
    transform: scale(1.05);
}

main h2 {
    color: #0a5738;
}

main a {
    display: inline-block;
    background-color: #0a5738;
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    border-radius: 5px;
    transition: background-color 0.2s ease-in-out;
}

main a:hover {
    background-color: #086130;
}

/* Stile per il footer */
footer h5 {
    color: #0a5738;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer a {
    text-decoration: none;
    color: #0a5738;
}

footer a:hover {
    text-decoration: underline;
}
